/* Dark mode colors. */
:root {
	--sl-color-accent-low: #16291e;
	--sl-color-accent: #327a55;
	--sl-color-accent-high: #b8cfc1;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ededf0;
	--sl-color-gray-2: #c1c2c5;
	--sl-color-gray-3: #8a8b92;
	--sl-color-gray-4: #57585e;
	--sl-color-gray-5: #37383d;
	--sl-color-gray-6: #26262c;
	--sl-color-black: #18181a;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #cbdcd1;
	--sl-color-accent: #317954;
	--sl-color-accent-high: #1c3a29;
	--sl-color-white: #18181a;
	--sl-color-gray-1: #26262c;
	--sl-color-gray-2: #37383d;
	--sl-color-gray-3: #57585e;
	--sl-color-gray-4: #8a8b92;
	--sl-color-gray-5: #c1c2c5;
	--sl-color-gray-6: #ededf0;
	--sl-color-gray-7: #f6f6f8;
	--sl-color-black: #ffffff;
}